[Unit]
Description=pyteleinfo - A system to collect statistics from teleinfo interface

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/teleinfo2.py -p -c -s -e WARNING -w /var/run/shm/teleinfo_ -l /var/log/teleinfo.log
Restart=on-abort

[Install]
WantedBy=multi-user.target
