[Unit]
Description=pyteleinfo - A system to collect statistics from teleinfo interface

[Service]
ExecStart=/usr/bin/python /usr/local/bin/teleinfo.py -s -f /var/run/shm/teleinfo_ -l /opt/piathome/config/logging_teleinfo.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
